# Shapefile files
*.shp
*.xml
*.shx
*.dbf
*.sbn
*.prj
*.cpg
*.sbx

# Python notebook cache
.ipynb_checkpoints/*

# Files generated
figures/**/*.jpg
figures/**/*.txt

# Cache files
**/*.pyc

# JSON and HDF5 files
*.json
*.h5

# Exe files
*.exe

# Env files
.env