# Shapefile files
*.shp
*.xml
*.shx
*.dbf
*.sbn
*.prj
*.cpg
*.sbx

# Python notebook cache
.ipynb_checkpoints/*

# Figures generated
figures/*.jpg

# Cache files
**/*.pyc

# JSON and HDF5 files
*.json
*.h5